@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Work Sans", sans-serif;
}

* {margin: 0;
    padding: 0;  
}
/* shared style */
.display-flex{
    display: flex;
    gap: 30px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 25px;    

}
.primary-btn{
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}


/* header style */
.header-container{
    background: rgba(255, 144, 14, 0.1);
    height: 1152px;
    
}

/* navbar related style  */
.navbar{
    justify-content: space-between;
    
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 3rem;
    
}
.nav-link{
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.nav-item{
    list-style: none;
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 20px;
}
.banner-description{
    color: #727272;
    font-size: 1rem;
    margin-bottom: 32px;
}
.banner-image{
    width: 100%;
}
/* team and feature related style */
.teams{
    align-items: center;
}

.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}
.team-features{
    margin-left: 75px;
    max-width: 530px;
    
}

.feature-description{
    color:#727272;
    font-size: 1rem;
    margin-bottom: 30px;
}
/* feature section related style */

.features{
    display: flex;
    gap: 140px;
}

#feature-section-title{
        border-left: 5px solid  #FF900E ;
        padding-left: 20px;
}
.feature-card, .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
}
.feature-title{
    margin-bottom: 10px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px ;
    border-radius: 8px ;
}
#badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
    
}
#year{
    font-size: 4rem;
    font-weight: 700;
}



/* some fact related style */
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.fact-card{
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 240px;
    height: 240px;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.fact-number{
    font-size:2.8rem; 
    font-weight: 600;
    color: #424242;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
        color: #727272;
        font-size: 1.2rem;
        font-weight: 600;
}
.fact-title{
    margin-bottom: 100px;
}
/* sponsor related style */

.sponsor-info{
    max-width: 540px;
    margin:50px auto ;
    text-align: center;
}
.sopnsor-compannies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 155px;
    filter: grayscale(100%);
}
/* footer section style */
.footer-section{
    margin: 0 auto;
    width: 1440px;
    height: 100px;
    border-radius: 8px;

background: rgb(255, 244, 231);
 margin-top: 130px;
 margin-bottom: 100px;
}
.footer-section p{
    color: rgb(66, 66, 66);
    font-size: 20px;
font-weight: 400;
line-height: 23px;
text-align: center;
padding-top: 40px;
}



/* responsive media quary */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams, .features{
        flex-direction: column;
    }
    .features img{
        width: 400px;
    }
    .team-image, .fact-container, .sopnsor-compannies{
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .sopnsor-compannies{
        gap: 50px;
        justify-items: center;
    }
    .team-features{
        margin-left: 10px;
    }
    .footer-section{
        width: auto;
    }

}

/* mediam drivice responsive */

@media screen and (min-width: 576px) and (max-width: 992px){
    .teams, .features{
        flex-direction: column;
    }
    .features{
        width: 800px;
    }
   
    .team-features{
        margin-left: 50px auto;
    }
    .fact-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .sopnsor-compannies{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .footer-section{
        width: auto;
    }

}